/* ***** common ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

body,
header {
    max-width: 1920px;
}
.container-big {
    width: 80%;
}

.container-small {
    width: 70%;
}

.container-big,
.container-small {
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    color: white;
    background-color: #0061FF;
    padding: 5px 15px;
}

.btn:hover {
    text-decoration: none;
    background-color: #0053da;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ***** header ***** */

header {
    background-color: #fff;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    line-height: 80px;
    position: fixed;
    top: 0;
    z-index: 9999;
}

#logo {
    width: 130px;
    height: 100%;
}

#logo img {
    vertical-align: middle;
}

header nav {
    width: calc(100% - 130px);
    height: 100%;
}

header nav ul li {
    display: inline-block;
}

nav ul li a {
    color: black;
    font-size: 14px;
    margin: 0 15px;
}

/* ***** jumbotron ***** */


/* ***** main ***** */


/* ***** footer ***** */



/* +++++ debug +++++  */

/* .debug header {
    background-color: red;
}

.debug header nav {
    background-color: pink;
}

.debug header .nav-left,
.debug header .nav-right {
    border: 1px solid black;
} */

.debug .jumbo .container-big {
    background-color: blue;
    height: 400px;
}

.debug main .container-small {
    height: 1000px;
    background-color: yellow;
}

.debug footer .container-big {
    height: 300px;
    background-color: green;
}