/* ***** common ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.container-big {
    width: 80%;
    max-width: 1920px;
}

.container-small {
    width: 70%;
    max-width: calc(1920px - (1920px / 10));
}

.container-big,
.container-small {
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    color: white;
    background-color: #0061FF;
    padding: 7px 18px;
}

.btn:hover {
    text-decoration: none;
    background-color: #0053da;
}

.col {
    width: calc((100% / 3) - (50px / 3 * 2));
}

.central-col {
    margin: 0 50px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* ***** header ***** */

header {
    background-color: #fff;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    line-height: 80px;
    position: fixed;
    top: 0;
    z-index: 9999;
    margin: 0 auto;
}

#logo {
    width: 130px;
    height: 100%;
}

#logo img {
    vertical-align: middle;
}

header nav {
    width: calc(100% - 130px);
    height: 100%;
}

header nav ul li {
    display: inline-block;
}

nav ul li a {
    color: black;
    font-size: 14px;
    margin: 0 15px;
}

/* ***** jumbotron ***** */

.jumbo {
    background: linear-gradient(to bottom, #B4D0E7 85%, #fff 15%);
    margin-top: 80px;
}

.jumbo h1 {
    font-size: 60px;
    padding: 50px 0 30px;
}

#jumbo-text {
    width: 30%;
}

#jumbo-text p {
    margin-bottom: 40px;
}

#jumbo-text span {
    display: block;
    margin: 20px 0;
}

#jumbo-text .fa-arrow-down {
    font-size: 35px;
    font-weight: bold;
}

#jumbo-image {
    width: 70%;
}

#jumbo-image img {
    width: 100%;
    object-fit: cover;
}

/* ***** main ***** */

main section {
    margin-top: 150px;
}

main section h2 {
    font-size: 30px;
}

/* --- plane section --- */

#plane h2 {
    margin-bottom: 50px;
}

#plane h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

#plane h4 {
    font-size: 18px;
}

#plane .btn {
    display: block;
    text-align: center;
}

#plane .col-content,
#plane .enterprise-content {
    font-size: 14px;
    padding: 35px 25px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

#plane .col-icon {
    text-align: center;
    padding: 10px 0;
    border: 1px solid lightgrey;
}

#plane .invoice span {
    display: inline-block;
    margin: 0 30px 30px 0;
}

#plane .invoice span input {
    margin-right: 5px;
}

#plane .col-content {
    min-height: 800px;
}

#plane .col-content > span {
    display: block;
}

#plane .col-content .price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

#plane .col-content .month {
    color: #6B7A87;
    margin-bottom: 40px;
}

#plane .col-content .plane-type li {
    padding: 10px 0;
}

#plane .col-content .btn {
    display: block;
    text-align: center;
    margin: 40px 0 20px;
}

#plane .col-content .purchase a {
    color: #2579ff;
}

#plane .col-content h4 {
    margin-top: 50px;
}

#plane .col-content .plane-point li {
    margin: 15px 0;
}

#plane .col-content .plane-point li::before {
    color: #2579ff;
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    content: "\f00c";
}

#plane .enterprise {
    margin-top: 50px;
}

#plane .enterprise-text {
    width: 80%;
}

#plane .enterprise-content p {
    margin-top: 30px;
}

#plane .contact {
    width: 20%;
}

/* ***** footer ***** */



/* +++++ debug +++++  */

/* .debug header {
    background-color: red;
}

.debug header nav {
    background-color: pink;
}

.debug header .nav-left,
.debug header .nav-right {
    border: 1px solid black;
} */

/* .debug .jumbo .container-big {
    background-color: blue;
    height: 600px;
} */

/* .debug main .container-small {
    background-color: yellow;
} */

/* .debug main section {
    height: 1200px;
    border: 1px solid black;
} */


/* .debug #plane .col {
    height: 600px;
    background-color: green;
    border: 1px solid blue;
} */

.debug footer .container-big {
    height: 300px;
    background-color: green;
}