/* ***** common ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-big {
    width: 80%;
}

.container-small {
    width: 70%;
}

.container-big,
.container-small {
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}


/* ***** header ***** */

header {
    height: 80px;
    padding: 0 20px;
}

#logo {
    width: 130px;
}

header nav {
    width: calc(100% - 130px);
    height: 100%;
}

/* ***** jumbotron ***** */


/* ***** main ***** */


/* ***** footer ***** */



/* +++++ debug +++++  */

.debug header {
    background-color: red;
}

.debug header nav {
    background-color: pink;
}

.debug .jumbo .container-big {
    background-color: blue;
}

.debug main .container-small {
    height: 1000px;
    background-color: yellow;
}

.debug footer .container-big {
    height: 300px;
    background-color: green;
}